.icon-48-social-member
{	background-image: url(member-details.png);	}

.icon-48-category
{	background-image: url(category.png);	}
.icon-48-manage-boards
{	background-image: url(manage-boards.png);	}
.icon-48-manege-pins
{	background-image: url(manege-pins.png);	} 
.icon-48-site-settings-icon
{	background-image: url(site-settings-icon.png);	} 
.icon-48-request-approval-icon
{	background-image: url(request-approval-icon.png);	} 
.icon-48-google-ad-icon
{	background-image: url(google-ad-icon.png);	}