.board_display .pin .images{background:url(../images/img-bg.png) no-repeat; min-height: 193px; clear:both;}
.board_display .pin a img {
    border: 1px solid #dfdfdf;
    margin: 0;
}
.board_display .pin h3{padding: 10px; font-size: 13px;}
.board_display .pin .followBoard {
padding: 0 3px 11px;
text-align: center;
width: 85%;
margin: 13px 0 0 13px;
}
.board_display .pin .followBoard a:hover{text-decoration: none;}
.board_display .pin .followBoard .Button {
display: block;
padding: 7px 6px;
width: 92%;
font-weight: bold;
color: #524D4D;
text-shadow: 0 1px rgba(255, 255, 255, 0.9);
font-size: 13px;text-align: center;
}
.WhiteButton {
color: #524D4D;
text-shadow: 0 1px rgba(255, 255, 255, 0.9);
}
.Button {
position: relative;
display: inline-block;
padding: .45em .825em .45em;
text-align: center;
line-height: 1em;
border: 1px solid transparent;
border-radius: .3em;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
-moz-transition-property: color, -moz-box-shadow, text-shadow;
-moz-transition-duration: .05s;
-moz-transition-timing-function: ease-in-out;
-webkit-transition-property: color, -webkit-box-shadow, text-shadow;
-webkit-transition-duration: .05s;
-webkit-transition-timing-function: ease-in-out;
box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35);
-moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35);
-webkit-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35);
}
.followBoard a {
border-color: #BBB;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFAFB), to(#F0EDED), color-stop(.5,#F9F7F7),color-stop(.5,#F6F3F4));
background: -moz-linear-gradient(center top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
background: -o-linear-gradient(top left, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFAFB), to(#F0EDED), color-stop(.5,#F9F7F7),color-stop(.5,#F6F3F4));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded');
}

/********************************************************/

#container .board_display .pin{ min-height: 275px; }
.board_display_container{margin: 0 auto; width: 76%;float: right;}
.edit-board{ background: url(../images/collaborators_app.png) center no-repeat; margin-top: 4px; height: 10px; width: 15px;float: right;}